// $enable-shadows: true;
// $font-size-root: 13px;
// $body-color: #000;
// $input-color: #000;
// $btn-padding-x: .6rem;
// $btn-padding-y: .3rem;
// $input-padding-x: .6rem;
// $input-padding-y: .3rem;
// $dropdown-divider-bg: #000;
// $dropdown-link-color: #000;
// $dropdown-item-padding-x: 10px;
// $dropdown-item-padding-y: 2px;
// $modal-title-padding: 7px 10px;
// $modal-inner-padding: 10px;