<div class="container">
    <h2>Drop-down tree-view demo</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="book-category" class="col-sm-3 col-form-label">Book category</label>
                <div class="col-sm-9">
                    <leo-dropdown-treeview id="book-category" [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)"></leo-dropdown-treeview>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        Selected categories: {{value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>