@import 'shared/mixins.scss';
.dropdown {
    width: 100%;
    display: inline-block;
    button {
        width: 100%;
        text-align: left;
        &::after {
            position: absolute;
            right: $input-padding-x;
            margin-top: $input-padding-y * 2;
        }
    }
    .dropdown-menu {
        .row {
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        }
        .dropdown-item-collapse-expand {
            padding: 0;
        }
        .treeview-container {
            padding-left: $dropdown-item-padding-x / 2;
            padding-right: $dropdown-item-padding-x / 2;
            max-height: 500px;
            overflow-y: auto;
        }
    }
}