@import 'shared/mixins.scss';
.treeview-item {
    padding-left: $dropdown-item-padding-x * 2;
    white-space: nowrap;
    .form-check-label {
        padding-top: $dropdown-item-padding-y;
        padding-bottom: $dropdown-item-padding-y;
    }
    .fa {
        margin-left: -1.0rem;
        width: $dropdown-item-padding-x;
        cursor: pointer;
    }
}